<div class="homepage-wrapper" id="trigger-element-1">
    <div id="item-1">
        <div class="image-container">
            <img src="{{ 'dirtyshoev3.webp' | asset_url }}" width="{{ image.width }}"
                height="{{ image.height }}" loading="lazy" alt="Dirty shoe needs cleaning" id="dirty-shoe-1" />
            <img src="{{ 'dirtyshoev3.webp' | asset_url }}" width="{{ image.width }}"
                height="{{ image.height }}" loading="lazy" alt="Dirty shoe needs cleaning" id="dirty-shoe-2" />
            <div class="circle-background" id="dirty-shoe-circle-1">&nbsp;</div>
            <div class="circle-background-border" id="dirty-shoe-circle-border-1">&nbsp;</div>
            &nbsp;
        </div>
        <div class="information">
            <div class="title-container">
                <div>Does your sneakers</div>
                <div>look like this?</div>
            </div>
            <p>
                Routine maintenance with the NuShoe Elements will help extend the lifespan of your kicks. How do you
                bring your kicks back to life while protecting the integrity of the materials?
            </p>
        </div>
    </div>
    <div id="item-2">
        <div class="image-container">
            <img src="{{ 'nuantidote.webp' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}"
                loading="lazy" alt="NuAntidote" id="nu-antidote" />
            <div class="circle-background" id="nu-antidote-circle">&nbsp;</div>
            <div class="circle-background-border" id="nu-antidote-circle-border">&nbsp;</div>
            &nbsp;
        </div>
        <div class="information">
            <div class="title-container">
                <div>Evolve out of outdated</div>
                <div>cleaning methods</div>
            </div>
            <p>
                Our products are chemically engineered for specific materials and our tools are designed for
                specific surfaces. Clean and protect your kicks with our eco-friendly sneaker cleaners.
            </p>
        </div>
    </div>
    <div id="item-3">
        <div class="clean-shoe-container">
            <div class="image-container">
                <img src="{{ 'cleanshoev3.webp' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}"
                    loading="lazy" alt="Clean sneakers" id="clean-sneakers" />
                <div class="circle-background" id="clean-circle">&nbsp;</div>
            </div>
            <div class="information">
                <div class="title-container">
                    <div>NuShoe elements make</div>
                    <div class="black">sneakers look nu</div>
                </div>
                <p>
                    We've created our products to bring your kicks back to life and look as Nu as possible. Learn our
                    sneaker cleaning methods to maximize your results.
                </p>
            </div>
        </div>
    </div>
    <div class="product-comparison-container">
        <img src="{{ 'product-comparison-chart.webp' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}"
            loading="lazy" alt="NuLife Kicks" />
    </div>
    <!-- <div class="product-comparison-container">
        <div class="table-responsive">
            <table class="table table-striped text-successtable-border border-light">
                <thead class="border-light">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">
                            <img src="{{ 'cleaner-suede.webp' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}"
                            loading="lazy" alt="Just Suede spray" />
                        </th>
                        <th scope="col">
                            <img src="{{ 'cleaner-nuantidote.webp' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}"
                                loading="lazy" alt="NuAntidote spray" />
                        </th>
                        <th scope="col">
                            <img src="{{ 'cleaner-re.webp' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}"
                                loading="lazy" alt="Competitor cleaner" />
                        </th>
                        <th scope="col">
                            <img src="{{ 'cleaner-cure.webp' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}"
                                loading="lazy" alt="Cure cleaner" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Top Features</th>
                        <td>Clean and revive suede color without the use of tap water!</td>
                        <td>Cleans and removes yellowing on rubbers, plastics, and fabrics!</td>
                        <td>One-Size-Fits-All washing machine solution</td>
                        <td>One-Size-Fits-All solution</i></td>
                    </tr>
                    <tr>
                        <th scope="row">Concentrated Solution</th>
                        <td><i class="bi bi-x-circle-fill"></i></td>
                        <td><i class="bi bi-x-circle-fill"></i></td>
                        <td><i class="bi bi-check-circle"></i></td>
                        <td><i class="bi bi-check-circle"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Specialized Solution</th>
                        <td><i class="bi bi-check-circle"></i></td>
                        <td><i class="bi bi-check-circle"></i></td>
                        <td><i class="bi bi-x-circle-fill"></i></td>
                        <td><i class="bi bi-x-circle-fill"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Revives Suede/ Nubuck Color</th>
                        <td><i class="bi bi-check-circle"></i></td>
                        <td><i class="bi bi-x-circle-fill"></i></td>
                        <td><i class="bi bi-x-circle-fill"></i></td>
                        <td><i class="bi bi-x-circle-fill"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Removes Yellowing/ Oxidation</th>
                        <td><i class="bi bi-check-circle"></i></td>
                        <td><i class="bi bi-check-circle"></i></td>
                        <td><i class="bi bi-x-circle-fill"></i></td>
                        <td><i class="bi bi-x-circle-fill"></i></td>
                    </tr>
                    <tr>
                        <th scope="row">Cleaning Strength</th>
                        <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                        <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                        <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                        <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
    <div class="homepage-container video">
        <div class="title-container text-center">
            <div>Trust us,</div>
            <div>We're chemists!</div>
        </div>
        <div class="video-container">
            <iframe width="800" height="450" src="https://www.youtube.com/embed/f1O2pPjQKgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <p>
            Hi! I'm Akeem, owner and founder of NuLife Kicks. I've always been a sneaker collector growing up and was
            known for keeping my kicks fresh. I studied chemistry and biology in college which has laid the foundation
            to all of the NuShoe Element products. NuLife Kicks started out in 2012 as a sneaker restoration company. No
            cleaner on the market would yield the high powered results I was looking for, so I created my own. Our
            solutions are composed of raw elements engineered to yield specific results. We manufacture 100% of our
            solutions in house at our Lab. The NuShoe Elements were created by sneaker care professionals for sneaker
            enthusiasts.
        </p>
    </div>
    <!-- <div class="sneaker-restoration-banner-container">
        <a href="/pages/book-live-classes">
        <img src="{{ 'sneaker-restoration-banner-v3.webp' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}"
            loading="lazy" alt="Sneaker Restoration Banner" />
        </a>
    </div> -->
    <div class="sneaker-restoration-container">
        <div class="main-container">
            <h2>Sneaker Restoration <span>Training</span></h2>
            <h3>Powering the sneaker care industry with nu methods, nu tools, and nu solutions.</h3>
            <p>
                Become a certified sneaker care professional. Our custom training packages are suited 
                for all skill levels. These courses emphasize the methods, processes, and tools in each 
                section of sneaker restoration. Gain confidence in your abilities to protect the integrity 
                of the sneaker while you build and grow your business.
            </p>
            <a href="/pages/book-live-classes"><button class="black" data-toggle="modal" data-target="#affiliate-modal">Sign Up Now</button></a>
        </div>
    </div>
    <div class="sfs-banner-container">
        <div class="flex">
            <div>
                <img src="{{ 'sfs-logo.webp' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}"
                    loading="lazy" alt="Soles for Souls" />
                <p>Empowering the local youth of Las Vegas</p>
            </div>
            <div>
                <h1>Do you have unwanted kicks?</h1>
                <p>Donate your unwanted shoes to underprivileged communities</p>
                <a href="/pages/book-live-classes"><button class="red" data-toggle="modal" data-target="#affiliate-modal">Sign Up Now</button></a>
            </div>
        </div>
    </div>
</div>
<script defer src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>