<div class="standard-form-container">
    <div class="banner-container affiliate-banner">
        <img src="{{ 'nuaffilate-banner.jpg' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}"
            loading="lazy" alt="Affiliate Program" />
    </div>
    <div class="form-container">
        <div class="image-container">
            <a data-fslightbox href="{{ 'affiliate-1.webp' | asset_url }}">
                <img src="{{ 'affiliate-1.webp' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}" alt="Affiliate Brochure" />
            </a>
            <a data-fslightbox href="{{ 'affiliate-2.webp' | asset_url }}">
                <img src="{{ 'affiliate-2.webp' | asset_url }}" width="{{ image.width }}" height="{{ image.height }}" alt="Affiliate Brochure" />
            </a>
        </div>
        <div class="globo-formbuilder" data-id="OTQ2ODI="></div>
    </div>
</div>

<script src="{{ 'fslightbox.js' | asset_url }}" defer="defer"></script>